.bg-image {
    background-image: url("../assets/blob.svg");
    background-repeat: no-repeat;
    background-size: 600px 500px;
    width: 100%;
    height: 420px;
}

.image {
    position: relative;
    left: px;
    top: -60px;
    width: 45px,
}


.text-width {
    width: full;
}

.email {
    transform: rotate(270deg);
    display: inline-block;
    position: relative;

    top: -50px;
    left: 50px;
    border-color: black;
    border-right: "5px",
}

@media (max-width: 991.98px) {
    .email {
        top: -50px;
        left: 160px;
    }

    .text-width {
        width: 40rem;
    }

}

.text-decoration-color-white {
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-underline-offset: 3px;

}

.text-decoration-color-black {
    text-decoration: underline;
    text-decoration-color: #000000;
    text-underline-offset: 3px;

}